

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #000000;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">BIENVENU</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">JOUHAR HOUDA && NUIGUA IKRAME</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  

