{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Trouvez les offres des stages</h1>
                <p>Bienvenue dans notre Platforme</p>            
            </div>
            {% for offre in offres %}
               
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{offre.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{offre.ville}}</h6>
                        <p class="card-text">{{offre.description}}</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>  
            {% endfor %}
        </section>
    </main>
{% endblock %}
