{% extends "base.html.twig" %}


{% block title %}Lancer un offre{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Ajouter un Offre</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                
                 

                    <button type="submit" class="btn btn-primary btn-lg my-3">Poster</button>
                   
                     {{ form_end(form) }}  
                           
            </div>
        </div>
    </section>

{% endblock %}
