{% extends 'base.html.twig' %}

{% block title %}Edit OffreEntreprise{% endblock %}

{% block body %}
    <h1>Edit OffreEntreprise</h1>

    {{ include('offre_entreprise/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}
